{% extends 'base.html.twig' %}

{% block title %}Login
{% endblock %}

{% block body %}
	<div class="container-xl">
		<h1>Login</h1>

		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		<form method="post">

			{{form_start(formView)}}
			{{form_label(formView.email)}}
			{{form_widget(formView.email)}}
			{{form_label(formView.password)}}
			{{form_widget(formView.password)}}
			<button type="submit" class="btn btn-primary">
				Se connecter</button>
			{{form_end(formView)}}</div>
	</div>
</form>{% endblock %}
